<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<nav id="navbar">
		<a class = "logo" href="about.html">replace with a logo</a>
		<ul>
			<li><a href="about.html">about</a></li>					
			<li><a href="index.html">home</a></li>
			<li><a href="index.html">projects</a> </li>
		</ul>
	</nav>

<% if @user %>
	<div id='sidebar'>
		<% @recenttwittersearches = @user.twittersearches.last(5) %>
		<% @recenttextsearches = @user.textsearches.last(5) %>
		<ul>Your Last 5 Twitter Searches:
			<% @recenttwittersearches.each do |n| %>
				<li><%= "#{n.tweeter} #{time_ago_in_words(n.created_at)} ago" %></li>
			<% end %>
		</ul>
		<ul> Your Last 5 Text Searches:
			<% @recenttextsearches.each do |n| %>
				<li><%=  "#{n.title} #{time_ago_in_words(n.created_at)} ago" %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= yield %>

</body>
</html>
