<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<nav id="navbar">
		<span id= 'logo'>
			<!-- for refactoring: switch these links to root path -->
			<a href="/home/index.html"><img src='/assets/eyelogo.png'></a> <br>
		 	<a href="/home/index.html">we know what you <i>really</i> think.</a>
		 </span>
		 <% if !current_user %> 
		<ul>
			<li><%= link_to "about", "#", :class => "modal-link link"%></li>					
			<li><%= link_to "sign up", new_user_path, :class => "link" %></li>
			<li><%= link_to "log in", log_in_path, :class => "link" %></li>
		</ul>
		<% else %>
		<ul>
			<li><%= link_to "about", "#", :class => "modal-link link"%></li>					
			<li><%= link_to "account", user_path(@user), :class => "link" %></li>
			<li><%= link_to "log out", log_out_path, :class => "link" %></li>
		</ul>
		<% end %>
	</nav>

<% if @user %>
	<div id='sidebar'>
		<% @recenttwittersearches = @user.twittersearches.last(5) %>
		<% @recenttextsearches = @user.textsearches.last(5) %>
		<ul>Your Last 5 Twitter Searches:
			<% @recenttwittersearches.each do |n| %>
				<li><%= link_to "@#{n.tweeter}", twittersearch_path(n.id)%><%=" #{time_ago_in_words(n.created_at)} ago" %></li>
			<% end %>
		</ul>
		<ul> Your Last 5 Text Searches:
			<% @recenttextsearches.each do |n| %>
				<li><%=  link_to "#{n.title}", textsearch_path(n.id) %><%=" #{time_ago_in_words(n.created_at)} ago" %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= yield %>

</body>
</html>
